html {
    height: 100%;
}

body {
    height: 100%
}

.php, .me {
    float: inline-start;
    margin: 3%;
}
h1, h2 {
    text-align: center;
    margin-bottom: 2%;
}

.navbar {
    display: flex;
    justify-content: center;
}

.card {
    width: 150px;
    height: 200px;
    margin: 15px;
}

.red {
    color: red;
    font-size: 30px;
}

.black {
    color: black;
    font-size: 30px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10%;
}


.suitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.suits1 {
    font-size: 70px;
}

.joker {
    font-size: 70px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: row;
}

.participants {
    width: 50vw;
    height: 60vh;
    background-color: #fff;
    margin: 1%;
    border: 2px solid black;
}

.winner {
    background-color: chartreuse;
}

.container {
    margin-bottom: 10%;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    position: sticky;
    top: 100vh;
    background-color: #343a40;
    color: #c7c9ca;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
 }