body {
    height: 100vh;
    color: #ebebeb;
    background-image: linear-gradient(#0f2537 20%, #ffffff);
    background-repeat: no-repeat;
    font-size: 1.3em;

}

.title {
    height: 17vw;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    
}

.nav {
    text-align: end;
}

.nav a {
    color: #ebebeb;
}

.title h1 {
    font-size: 6vw;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.projectContainer {
    width: 35%;
    font-size: 1.15em;
    text-align: center;
}

.data {
    width: 90%;
    background-color: aliceblue;
    color: black;
    padding: 2%;
}

table {
    max-width: 90%;
    border: 1px solid;
    margin: 10px;
    text-align: center;
}

td, th {
    text-align: center;
    padding: 3px;
}

th {
    border-bottom: 1px solid;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 590px ) {
    .nav a {
        font-size: 15px;
        border: 2px solid white;
        padding: 5px;
    }

    .title {
        height: 15vh;
    }

    .title h1 {
        font-size: 8vw;
    }

    .projectContainer {
        width: 100%;
        font-size: 20px;
    }

    .table {
        width: 50%;
    }
    .table tbody {
        display: flex;
        flex-direction: row;
    }

    .table tbody tr {
        display: flex;
        flex-direction: column;
    }

    .table td {
        font-size: 21px;
    }

    .table-full th {
        padding: 0;
        font-size: 12px;
    }

    .table-full td {
        padding: 0;
        font-size: 12px;
    }

    img {
        width: 100%;
    }
}