
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Deck</h1>
<div class="cardContainer">
    {% for card in deck %}
    <div class="{{ card.class1 }} {{ card.class2 }}">
        <p>{{ card.number }}</p>
        <div class="suitContainer">
            {% if card.suits == "diamonds" %}
                <div class="suits"> &#9830; </div>
            {% elseif card.suits == "spades"%}
                <div class="suits"> &#9828; </div>
            {% elseif card.suits == "hearts"%}
                <div class="suits"> &#9825; </div>
            {% else %}
                <div class="suits"> &#9831; </div>
            {% endif  %}
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}