{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container">
    <h1>Om kursen mvc</h1>
    <img class="php" width="300px" src="img/php.png" alt="php">
    <p>I denna kursen lär man sig programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC.</p>
    <p>Vi använder oss av ramverket Symfony som är ett av de mer kända ramverken inom PHP.</p>
    <p>Denna webbplats är utvecklat med hjälp av Symphony.</p>
    <p>Kursen omfattar följande områden:</p>
    <ul>
        <li>Programmering i webbmiljö, syntax, semantik, koppling mot databaser, datastrukturer och inbyggda funktioner</li>
        <li>Objektorienterad programmering i PHP med språkkonstruktioner och begrepp. Objektorientering som sätt att strukturera och återanvända kod. Enkla designmönster</li>
        <li>SQL med en databas tillsammans med PHP Data Objects.</li>
        <li>Utveckling av webbapplikationer i ett ramverk där tekniker såsom webbserver (Apache), PHP, HTML, CSS, och SQL integreras tillsammans med ett webbaserat ramverk.</li>
        <li>Användning av verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, tex UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter såsom PHPMyAdmin, MySQL Workbench och kommandoklienter.</li>
    </ul>
    <p><a href="https://github.com/dbwebb-se/mvc.git">Kursens GitHub repo</a></p>
    
</div>

{% endblock %}