{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me{% endblock %}

{% block body %}
<div class="container">
        <h1>Om mig</h1>
        <article>
            <h2>Hej!</h2>
            <img class="me" width="400px" src="img/IMG_5064.jpg" alt="Bild på mig">
            <p>Jag heter Krystyna Kalinchuk, jag är 26 år gammal och kommer från Ukraina. Just nu bor jag i Karlskrona med min sambo Oskar och min katt Bella, vi trivs väldigt mycket i den här vackra staden. Jag har bott i Karlskrona i två och ett halvt år nu. Innan bodde jag i Kyiv, Ukrainas huvudstad. I Kyiv träffade jag Oskar som då jobbade där på ett lokalt projekt. Sedan dess har vi alltid varit tillsammans och när det blev tid för honom att åka tillbaka till Sverige så följde jag med. Jag började lära mig svenska direkt för att jag förstod att det var vägen in i det svenska samhället och det är ju det viktigaste när man är ny i landet. I Ukraina tog jag examen i engelsk filologi, mitt yrke är egentligen tolk/översättare från engelska till ukrainska och vise versa. </p>
            <p>Jag har alltid gillat matte och språk och tycker att programmering är ett bra sätt att kombinera dessa intressen. Även om jag inte har sysslat med programmering innan och är ganska ny i området känner jag att jag har lyckats med mitt val. Jag förstår att jag inte kommer glida på en räkmacka i början men jag är inte rädd för utmaningar, jag <strong>vill </strong>och <strong>kan</strong> bli en duktig programmerare.</p>
            <p>På min fritid gillar jag att träna och titta på olika tv-serier. Nu ska jag dela en liten hemlighet med er, min inspiration angående programmering fick jag från Darlene från Mr.Robot, jag vill bli en cool tjej som hon. Förutom det gillar jag också att resa, lyssna på musik och kela med min katt.</p>
            <p>En sista sak om mig - jag är ett fan av Harry Potters värld och gillar höst.</p>
            <p>Jag hoppas att ni gillade min berättelse, vi hörs!</p>
        </article>
</div>

{% endblock %}