{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="container">
    <article>

        <header>
        <h1>Redovisning av kursmoment i kursen mvc</h1>
        </header>
        
        <section>
        <h2>Kmom01</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom02</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom03</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom04</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom05</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom06</h2>
        <p>Här är redovisningstexten</p>
        </section>
        
        <section>
        <h2>Kmom07-10</h2>
        <p>Här är redovisningstexten</p>
        </section>

        </article>
        
</div>

{% endblock %}