{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="container">
    <article>

        <header>
        <h1>Redovisning av kursmoment i kursen mvc</h1>

        </header>

        <section>
        <h2>Kmom01</h2>
        <p>I den nya kursen mvc ska vi lära oss jobba med objektorienterad php. Jag har bara erfarenhet av objektorienterad programmering från oopython kursen. Det verkar dock som objektorienterad paradigm är ganska lik i båda programmeringsspråken. För att skapa en klass i php skriver man nyckelord ”class” följt av namnet på klassen med första bokstaven som versal. Ett objekt skapas utifrån en klass. För att skapa en instans av klassen skriver man nyckelordet ”new” följt av namnet på klassen man vill skapa en instans av. I php har man ett nyckelord ”this” (”self” i python) som refererar till just den specifika instansen. Klassen kan ha properties (konstanter, variabler) och metoder (funktioner). Man kan också ha en konstruktor (function __construct()) på en klass som anropas när ett nytt objekt skapas. Konstruktor är en av de magiska metoderna som också är tillgängliga i php. Andra magiska metoder som jag har läst om är  __destruct(), __get, __set(), __toString(), etc. Jag känner att jag har förståelse av klasser och objekt men behöver ändå lite mer övning för att se hur man jobbar med de i php i verkligheten. </p>
        <p>Den kodbasen vi använde oss i uppgiften ”report” upplevs som ganska stor, men efter att ha utfört uppgiften så har det lagt sig på plats i mitt huvud på något sätt. Det viktigaste är att skapa en kontroller (en klass som ärver från AbstractController klass) som ska innehålla alla routes man vill ha. Varje route renderar en twig template som ligger i templates katalogen. Med twig har vi bekantat oss i design kursen men vi jobbade inte så mycket med den templaten då. Denna gången förstod jag lite bättre hur twig fungerar, det är också bra att vi har en ”base.html.twig” fil som alla andra templates kan extenda. </p>
        <p>Jag har kollat på olika delar i artikeln “PHP The Right Way”. Den innehåller också många externa länkar där man kan läsa djupare om ett visst ämne. I artikeln har jag kollat på design patterns, frameworks och composer. Det var ganska korta små artiklar som gav en snabb inblick i de begreppen.</p>
        <p>Min TIL för detta kursmoment är allt om Symphony och bättre förståelse av twig templates. </p>
        </section>

        <section>
        <h2>Kmom02</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom03</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom04</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom05</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom06</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom07-10</h2>
        <p>Här är redovisningstexten</p>
        </section>

        </article>
        
</div>

{% endblock %}