{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="container">
    <article>

        <header>
        <h1>Redovisning av kursmoment i kursen mvc</h1>

        </header>

        <section>
        <h2>Kmom01</h2>
        <p>I den nya kursen mvc ska vi lära oss jobba med objektorienterad php. Jag har bara erfarenhet av objektorienterad programmering från oopython kursen. Det verkar dock som objektorienterad paradigm är ganska lik i båda programmeringsspråken. För att skapa en klass i php skriver man nyckelord ”class” följt av namnet på klassen med första bokstaven som versal. Ett objekt skapas utifrån en klass. För att skapa en instans av klassen skriver man nyckelordet ”new” följt av namnet på klassen man vill skapa en instans av. I php har man ett nyckelord ”this” (”self” i python) som refererar till just den specifika instansen. Klassen kan ha properties (konstanter, variabler) och metoder (funktioner). Man kan också ha en konstruktor (function __construct()) på en klass som anropas när ett nytt objekt skapas. Konstruktor är en av de magiska metoderna som också är tillgängliga i php. Andra magiska metoder som jag har läst om är  __destruct(), __get, __set(), __toString(), etc. Jag känner att jag har förståelse av klasser och objekt men behöver ändå lite mer övning för att se hur man jobbar med de i php i verkligheten. </p>
        <p>Den kodbasen vi använde oss i uppgiften ”report” upplevs som ganska stor, men efter att ha utfört uppgiften så har det lagt sig på plats i mitt huvud på något sätt. Det viktigaste är att skapa en kontroller (en klass som ärver från AbstractController klass) som ska innehålla alla routes man vill ha. Varje route renderar en twig template som ligger i templates katalogen. Med twig har vi bekantat oss i design kursen men vi jobbade inte så mycket med den templaten då. Denna gången förstod jag lite bättre hur twig fungerar, det är också bra att vi har en ”base.html.twig” fil som alla andra templates kan extenda. </p>
        <p>Jag har kollat på olika delar i artikeln “PHP The Right Way”. Den innehåller också många externa länkar där man kan läsa djupare om ett visst ämne. I artikeln har jag kollat på design patterns, frameworks och composer. Det var ganska korta små artiklar som gav en snabb inblick i de begreppen.</p>
        <p>Min TIL för detta kursmoment är allt om Symphony och bättre förståelse av twig templates. </p>
        </section>

        <section>
        <h2>Kmom02</h2>
        <p>Arv är en konstruktion som används i objektorienterad programmering för att möjliggöra en klass(subklass) att ärva attribut och metoder från en annan klass (basklass). Arv är viktigt för att det hjälper att undvika repetition och gör kod mer strukturerad. Klasser kan ha olika relationer, en av dem är komposition. Komposition är en stark koppling mellan klasser (has-a relation), dvs att en klass äger den andra. Interface är en så kallad mal för en viss klass. När man definierar ett interface till en klass då tvingar man den klassen att ha just de metoderna och attributen som finns i interfacet. Jag har läst lite om vad trait är, som jag förstod det så används trait istället for multiple arv i andra programmeringsspråk. Men jag kan inte säga att jag förstod just hur och när man använder det, jag har använt varken interface eller trait i min kod.</p>
        <p>Jag måste säga att uppgiften var ganska svår för mig, det tog rätt så mycket tid att lösa det. Jag förstod direkt att jag behövde skapa Card och Deck objekt och hur de skulle samarbeta. Jag har dock inte gjort sortering som en metod på Deck, jag skickar bara kortnummer och suits i rätt ordning när jag skapar Deck så att Deck objektet innehåller kort i sorterad ordning redan från början. Om sanningen ska fram visste jag inte hur jag skulle sortera en array på en sak först, och sedan på en annan (i python har vi itemgetter och då gick vi igenom det på en lektion). I deck2 har jag skapat en klass som ärver från deck men jag visste inte direkt hur jag skulle göra att den decken innehåller två jokrar. Jag har skapat en metod som bara lägger till ett joker kort till deck arrayen och kallar på den metoden två gånger i min route /card/deck2. Det finns säkert förbättringspotential i min kod, jag återanvänder kod i mina routes, särskilt i /draw, /draw/{number} och /draw/{player}/{cards}, men det gjorde jag bara för att det fanns vissa små saker som var annorlunda i varje route och ville bara få det att fungera. </p>
        <p>Jag ville också nämna att /draw och /draw/{number} jobbar mot samma session, medan card/deck/deal/{players}/{cards} har sin egen session.</p>
        <p>När jag gjorde JSON API kollade jag bara på LuckyControllerJson exemplet och skrev koden som där, men jag måste säga att jag saknade lektion om json. I varje kurs nämns json på något sätt men jag vill veta hur det fungerar egentligen, hur man använder det, i vilka fall man använder det, hur det hänger ihop med webbsidor – det känns som json fortfarande är ett grått område för mig.</p>
        <p>Jag har inte gjort Problemlösningsdelen, tänker göra i nästa kmomet då jag hoppas att vi ska gå igenom på nästa lektion hur ett sådant spel skulle se ut, kanske finns det ett färdigt exempel på ett fungerande spel? Dessutom har jag inte spelat kortspel så mycket så det är extra svårt för mig att förstå det här med regler och spelflödet.</p>
        </section>

        <section>
        <h2>Kmom03</h2>
        <p>Innan vi började med uppgiften fick vi först göra en modellering med flödesdiagram och psuedokod. Jag förstod inte riktigt viket flödesdiagram det var jag skulle göra, om det var UML så måste jag säga att jag inte är så bra på det, jag har bara ritat ”diagrammet” som rutor och pilar där jag skrev hur jag tänkte flödet i spelet borde gå till. Dessutom har jag aldrig skrivit en pseudokod förut, det skulle vara bra om vi fick någon förklaring på hur man gör det. När jag kollar tillbaka på databaskursen så hade vi en riktig manual där (”Kokbok”) som förklarade bra hur man gör en modellering, denna gången så hade jag ingen aning hur det borde se ut så jag gjorde det utifrån min bästa förmåga. </p>
        <p>Jag har aldrig spelat kort så jag vet inte hur ett sådant spel borde se ut, jag har googlat lite men vet inte om jag förstod det rätt. Det jag verkligen saknade var ett exempel på ett fungerande spel som i oopythonkursen så att jag skulle se vad som förväntas. Jag förstår inte riktigt vad som menas med kravet ”Banken är inte medveten om spelarens korthand”, i mitt fall har jag bara gjort det så att samma person spelar som Player och som Banken, för att som jag förstod så är det samma sak för Banken att den drar kort och bestämmer att antingen stanna eller gå vidare (precis som Player). </p>
        <p>Jag måste säga att jag är ganska missnöjd med det jag gjorde och hur jag skrev koden. Jag är ny i programmering, så bra övningar, lektioner och exempel spelar stor roll för mig. Det var ingen övning i detta kmomet och det bästa exemplet som vi hade var ”DiceHandController.php”  från kmom02 och det känns ändå långt ifrån det uppgiften krävde. </p>
        <p>Jag har full förståelse för att logiken inte borde ligga i routen men jag har inte sett något exempel på hur det skulle se ut, återigen i ”DiceHandControllen.php” så var koden ganska enkel och jag kände inte att det hjälpte mig förstå hur jag bryter ut logiken i ett sådant stort spel som vi gjorde i uppgiften. </p>
        <p>Jag förstår själv att min kod inte är snygg, men jag måste säga att lektionen i tisdags i kmom03 var inte till mycket hjälp. Jag kan inte skriva snygg kod efter att bara har lyssnat om det, jag måste se exempel med mina ögon, helst när koden skrivs live på föreläsningen och det förklaras vad som händer. </p>
        <p>Jag installerade linters men det var så jobbigt att fixa de felen till skillnad från JSkursen eller Pythonkursen då jag hade lite bättre förståelse av programmeringsspråk. Så jag gav upp och lät det bli. </p>
        <p>Tyvärr måste jag erkänna att det inte går så bra för mig i denna kurs. Jag känner mig lite vilse med denna uppgift och med oophp överhuvudtaget. Det känns som att Mikael förväntar sig att man kan en hel del i php om man förväntas utföra en sådan stor uppgift i början av kursen, men jag har bara haft två veckor av php i webtec kurs och känner mig rätt frustrerad. </p>
        <p>Jag vill verkligen bli en bra programmerare men jag behöver hjälp av en lärare som visar hur man skriver kod och inte förväntar sig att man kan det från början (vilket jag upplever i denna kurs).</p>
        </section>

        <section>
        <h2>Kmom04</h2>
        <p>Turligt nog lärde vi oss unittest i oopython så just testningen var inte så svår egentligen. Jag måste säga att jag gillade att skriva själva tester men vet inte om det blev tester av hög kvalité. Som jag förstod det behövde vi inte skriva tester för Controller så jag skrev tester bara för mina klasser i Game och Card mappar. Problemet är att koden för mitt spel inte var så bra, jag hade mycket i kontrollers som inte borde vara där egentligen och det nämnde jag i förra redovisningstexten. Kodteckningen för de klasserna som jag skrev tester för var 100%.</p>
        <p>Ville också nämna en sak angående variabler för att Marie kommenterade om det i kmom02 inlämning. I oopython gick vi grundläggande igenom vilka klassatribut som kan finnas och att de kan vara antingen publika, skyddade eller manglade och Andreas förklarade skillnaden mellan dem. Dessutom hade vi en förklaring på lektionen hur vi ska jobba med getters och setters och i vilka fall vi behöver göra detta. Det höll sig kvar i mitt huvud eftersom det lades märke på det i lektionen. I denna kurs kan jag inte komma ihåg att Mikael gick igenom medlemsvariabler (är det samma sak som klassatribut?) på någon lektion (vilka typer finns, hur man deklarerar (i webtec deklarerade vi variabler bara med hjälp av ”let”), i vilka fall och hur vi ska skriva getters och setters). Det var inget exempel på getters och sätter i exempelkod i övningar. Jag behöver att sådana saker nämnas på lektion och att det visas hur man jobbar med dem, jag förstår att idén är samma men det är svårt för mig att börja skriva snygg objektorienterad kod i php om det inte förklaras och visas hur man gör det just i php på en lektion. </p>
        <p>Jag upplevde att min kod delvis var testbar eftersom som sagt den var inte så snygg från början. Jag fick ändra lite i själva klasser som jag testade men ändrade inte i kontrollers eftersom jag är fortfarande frustrerad över hur det går till i kursen och kände inte motivation att pilla i koden som någorlunda fungerade. </p>
        </section>

        <section>
        <h2>Kmom05</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom06</h2>
        <p>Här är redovisningstexten</p>
        </section>

        <section>
        <h2>Kmom07-10</h2>
        <p>Här är redovisningstexten</p>
        </section>

        </article>
        
</div>

{% endblock %}