{% extends 'projectBase.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div>
    <h1>About-sida till projektet</h1>
</div>
<div>
    <h2>Om projektet</h2>
    <h2>Projektets dokumentation</h2>
    <ol>
        <li><a href="http://www.student.bth.se/~krka21/dbwebb-kurser/mvc/me/report/docs/api/index.html"></a>PHPDoc</li>
        <li><a href="http://www.student.bth.se/~krka21/dbwebb-kurser/mvc/me/report/docs/metrics/index.html">PhpMetrics</a></li>
        <li><a href="https://github.com/kalinchukkristina/report-mvc-.git">GitHub repo</a></li>
        <li><a href="https://scrutinizer-ci.com/g/kalinchukkristina/report-mvc-/">Scrutinizer</a></li>
        <li>Reset databas</li>
    </ol>
</div>

{% endblock %}